<footer class="centrar">
    <div class="contenedor_footer">
        <a href="https://twitter.com/MartinTheDuck_1" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/martin.estrada.18488169/" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/martin.saav/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/mart%C3%ADn-alejandro-estrada-saavedra-255214198/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <p>
        <span class="derechos">Derechos Reservados ©{{ currentYear }}</span>
    </p>
</footer>
