<main >

    <section class="contenedor">
        <form action="">
            <div class="campo" id="campo_nombre">
                <label for="nombre">Nombre: </label> <input class="campo_input" name="nombre" type="text" id="nombre" required>
            </div>
            <div class="campo">
                <label for="telefono">Teléfono: </label> <input  class="campo_input" type="number" name="telefono" id="telefono" required>
            </div>
            <div class="campo">
                <label for="email" >Email: </label> <input  class="campo_input" type="text" name="email" id="email" required>
            </div>
            <div class="campo">
                <label for="consulta">Consulta:</label> <textarea name="consulta" id="consulta" required></textarea> 
            </div>

            <div class="campo_boton">
                <input type="submit" value="enviar" class="boton">
            </div>
        </form>
        <p> o contactenos via mail: <a href="mailto:martin996@hotmail.com.ar">martin996&#64;hotmail.com.ar</a></p>
    </section>
</main>