{% extends 'core/base.html' %}

{% block title %}Clases Particulares | Infinity Math{% endblock title %}
{% block sub_title %}Clases Particulares{% endblock sub_title %}

{% block content %}
    <section class="contenedor transiciones">
        <h3>Todas nuestras clases</h3>
        <h3>Álgebra y Geometría Analítica</h3>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
        <h3>Análisis Matemático I</h3>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
        <h3>Análisis Matemático II</h3>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article class="transicion">
        <h3>Física I</h3>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
        <h3>Física II</h3>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
    </section>
{% endblock content %}
