<main >
    <section class="contenedor">
        <article>
            <h3>El objetivo Principal de la página</h3>
            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
            </ul>
        </article>

        <h3>¿Quiénes Somos?</h3>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel ex at dolor hendrerit mollis in ac est. Mauris nec odio neque. Aliquam nisi justo, fermentum in magna id, sodales interdum risus. Mauris tempor nisi eget neque posuere, quis tincidunt massa faucibus. Ut aliquam sagittis volutpat. Aenean tincidunt porttitor diam, nec lacinia ligula efficitur eget. Maecenas fringilla, erat rhoncus posuere viverra, felis ante auctor augue, non elementum mauris felis nec nunc. Nullam pharetra mi vel tincidunt ultrices. Sed pretium arcu tincidunt, vestibulum urna et, fringilla lectus. Duis urna augue, vulputate vel dui sed, hendrerit fringilla quam. Nulla facilisi. Duis ipsum odio, auctor convallis neque sed, varius hendrerit metus. Vivamus tristique mauris scelerisque tellus sollicitudin, ut commodo orci sodales. Etiam id feugiat enim, sed mattis sapien. Ut quis mollis metus. Duis at pretium dolor.</p>
        </article>

        <h3 class="centrar">El autor</h3>
        <article class="sobre-nosotros">
            <div class="centrar">
                <img src="assets/yo.png" alt="yo">
            </div>
            
            <div class="sobre-nosotros__texto">
                <p>Pellentesque lacus orci, mattis cursus est in, finibus sagittis mi. Sed iaculis elit et porta luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lacinia est vitae eros posuere, non commodo justo viverra. Sed finibus id elit sit amet egestas. Nullam ac urna odio. Fusce vestibulum venenatis quam in scelerisque. Maecenas ultricies ultricies velit, non suscipit enim. Vivamus massa velit, lobortis fringilla laoreet in, suscipit vitae velit. Etiam at orci euismod magna rhoncus luctus. Curabitur viverra est ut elit gravida rutrum. Nullam eget viverra enim. Quisque vitae varius urna.</p>
                <p>Maecenas commodo erat ac elit elementum, ac eleifend arcu gravida. Donec commodo auctor augue, eget tempor dui fermentum in. Duis non enim vitae metus accumsan vehicula. Pellentesque egestas diam ut ante aliquet, sit amet fringilla odio interdum. In nec odio nec turpis faucibus sagittis. Sed quis tellus nec ante luctus aliquam sit amet vel mauris. Nunc vitae facilisis mauris, posuere tristique arcu. Praesent nisi urna, venenatis non laoreet</p>
            </div>
        </article>

    </section>
</main>