<main>
    <section class="contenedor transiciones">
        <h2>Todas nuestras clases</h2>
        <h4>Álgebra y Geometría Analítica</h4>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
        <h4>Análisis Matemático I</h4>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
        <h4>Análisis Matemático II</h4>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
        <h4>Física I</h4>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
        <h4>Física II</h4>
        <article class="transicion">
            <a href="#">Más Información</a>
        </article>
    </section>
</main>

